{% extends "base.html" %}
{% block title %}Default{% endblock %}
{% block content %}
    {{ default }}
    <p>Le but de cette plateforme est de gérer le management de notre groupe en suivant certains principe:</p>

    <p>- Toyotisme: Faire des articles afin d'intégrer les documentations de chaque partie faites, d'expliquer chaques täches, afin que chacun ait les connaissances de chaque tâches finies. (lien vers les articles)</p>
    <p>- Définir les règles et les rôles de chaque personne du groupe (wiki)</p>
    <p>- Regrouper en un seul endroit tous les liens utiles à notre projet (git, plateforme eip, documentations, etc.) (wiki)</p>
    <p>- Être transparent sur ce qui est fait par tout le monde (rapport dans les sprints, distribution des taches), permettre une inspection pour les grosses tâches (checklist dans les sprints), planification des revues / retrospectives de sprints</p>
    <p>- complément de notre second outil: taiga.io</p>
    <p>- Permettre de préparer au mieux les réunions avec les tuteurs, et de planifier et préparer grâce aux rapports hebdomadaires de manière dynamique les notres</p>
{% endblock %}