{% extends "base.html" %}
{% load static %}
{% block title %}Project page{% endblock %}
{% block scriptncss %}

    <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tooltip.js/dist/umd/tooltip.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.min.js">


    <script type="text/javascript" src="{% static "js/checklist.js" %}"></script>
    <link href="{% static "/css/sprint_def.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/js/fullcalendar/packages/core/main.css' %}" rel='stylesheet' />
    <link href="{% static '/js/fullcalendar/packages/daygrid/main.css' %}" rel='stylesheet' />

    <script src="{% static '/js/fullcalendar/packages/core/main.js' %}"></script>
    <script src="{% static '/js/fullcalendar/packages/daygrid/main.js' %}"></script>
    <script>
        $(document).ready(function(e) {
          var calendarEl = document.getElementById('calendar');


          var calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: [ 'dayGrid' ],
            defaultView: 'dayGridMonth',
            defaultDate: '2019-08-12',
            eventColor: 'green',
            eventRender: function(info) {
                var tooltip = new Tooltip(info.el, {
                    title: info.event.extendedProps.description,
                    placement: 'top',
                    trigger: 'hover',
                    container: 'body'
                });
            },

            events: [
              {% for meeting in meetings %}
                {
                    title: "{{ meeting.title }}",
                    start: "{{ meeting.date|date:"Y-m-d" }}",
                    description: "{{ meeting.descriptif }}",
                },
            {% endfor %}
                {% for sprint in sprints %}
                {
                    title: "{{ sprint.sprint_name }}",
                    start: "{{ sprint.date_start|date:"Y-m-d"  }}",
                    end: "{{ sprint.date_end|date:"Y-m-d"  }}",
                    description: "{{ sprint.descriptif }}",
                    url: "/cal/sprint/def/{{ sprint.id }}",
                    color: 'purple',
                },
            {% endfor %}
            {% for part in parts %}
                {
                    title: "{{ part.part_type }}",
                    start: "{{ part.date_start|date:"Y-m-d"  }}",
                    end: "{{ part.date_end|date:"Y-m-d"  }}",
                    color: 'red',
                },
            {% endfor %}
            ]
          });

          calendar.render();
        });
    </script>
{% endblock %}
{% block content %}
    <h5>Calendrier:</h5>
    <div id='calendar' class="calendar-year"></div>
{% endblock %}