{% extends "base.html" %}
{% load static %}
{% block title %}Project page{% endblock %}
{% block scriptncss %}
    <link href="{% static "/css/labtesting/template/content.css" %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
<h3 class="centered p-2 mb-5">Project Information - {{ project.project_name }}</h3>
<div class="row">
    <div class="col-sm-0 col-md-0 col-lg-2"></div>
    <div class="col-sm-12 col-md-12 col-lg-8">
        <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6">
            <form method="post">
                {% csrf_token %}
                {{ infoform.as_p }}
                <input type="submit" name="addinfo" value="Submit"/>
            </form>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
            {% if info_filled %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="addcontent" value="Submit"/>
            </form>
            {% endif %}
        </div>

        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
<a href="/lab/project/{{ project.id }}">
    <img src="{% static "/img/icons/navigation/return.svg" %}" />
</a>
<a href="/lab/project/setup/{{ project.id }}">
    <img src="{% static "/img/icons/navigation/next.svg" %}" />
</a>
{% endblock %}
