.centered {
    text-align: center;
}

.boxes {
    border-left: 5px solid #7FB2E5;
    background-color: white;
    box-shadow: 2px 2px 3px 3px #bfbfbf;
}

.boxes {
    border-left: 5px solid red;
    background-color: white;
    box-shadow: 2px 2px 3px 3px #bfbfbf;
}

.boxes-current {
    border-left: 5px solid #7FB2E5;
    background-color: white;
    box-shadow: 2px 2px 3px 3px #bfbfbf;
}

.buttoncreate {
    background-color: #7FB2E5;
    color: white;
    box-shadow: 2px 2px 3px 3px #bfbfbf;
}

.boxfield {
    font-family: 'Poppins', sans-serif;
    color: #7FB2E5;
    font-size: 22px;
}

.unscrollable {
    position: fixed;
    width: 100%;
}

.scrollable {
    overflow: auto;
    height: 800px;
}

.maxheight {
    height: 100%;
}

.fixedbottom {
    position: fixed;

}