.centered {
    text-align: center;
}

.boxes {
    border-left: 5px solid #7FB2E5;
    background-color: white;
    box-shadow: 2px 2px 3px 3px #bfbfbf;
}

.boxfield {
    font-family: 'Poppins', sans-serif;
    color: #7FB2E5;
    font-size: 22px;
}

.unscrollable {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #1279BF;
}

.white {
    color: white;
}

.main-button {
    width: 100%;
}