{% extends "base.html" %}
{% load static %}
{% block title %}Project page{% endblock %}
{% block scriptncss %}
    <link href="{% static "/css/sprint_def.css" %}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block content %}
<div class="ml-4 col-sm-12 col-md-12 col-lg-12">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <h3 style="text-decoration: underline;">Tâche(s) de David:</h3><br>
        <div class="row">
            {% for task in david %}
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="boxes p-3 mt-3">
                            <h3>{{ task.task_name }}</h3>
                            <p>Description:</p>
                            <h5>{{ task.task_desc }}</h5>
                            <form method="post">
                                {% csrf_token %}
                                <input class="unscrollable mt-3 white centered" type="submit" name="unassign:{{ task.id }}" value="Enlever l'assignement"/>
                            </form>
                        </div>
                    </div>
            {% empty %}
                <p>Aucune tâche assignée.</p>
            {% endfor %}
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-12">
        <h3 style="text-decoration: underline;">Tâche(s) de Hamid:</h3><br>
        <div class="row">
            {% for task in hamid %}
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="boxes p-3 mt-3">
                            <h3>{{ task.task_name }}</h3>
                            <p>Description:</p>
                            <h5>{{ task.task_desc }}</h5>
                            <form method="post">
                                {% csrf_token %}
                                <input class="unscrollable mt-3 white centered" type="submit" name="unassign:{{ task.id }}" value="Enlever l'assignement"/>
                            </form>
                        </div>
                    </div>
            {% empty %}
                <p>Aucune tâche assignée.</p>
            {% endfor %}
        </div>
    </div>

<div class="col-sm-12 col-md-12 col-lg-12">
        <h3 style="text-decoration: underline;">Tâche(s) de Guillaume:</h3><br>
        <div class="row">
            {% for task in guillaume %}
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="boxes p-3 mt-3">
                            <h3>{{ task.task_name }}</h3>
                            <p>Description:</p>
                            <h5>{{ task.task_desc }}</h5>
                            <form method="post">
                                {% csrf_token %}
                                <input class="unscrollable mt-3 white centered" type="submit" name="unassign:{{ task.id }}" value="Enlever l'assignement"/>
                            </form>
                        </div>
                    </div>
            {% empty %}
                <p>Aucune tâche assignée.</p>
            {% endfor %}
        </div>
    </div>

<div class="col-sm-12 col-md-12 col-lg-12">
        <h3 style="text-decoration: underline;">Tâche(s) de William:</h3><br>
        <div class="row">
            {% for task in william %}
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="boxes p-3 mt-3">
                            <h3>{{ task.task_name }}</h3>
                            <p>Description:</p>
                            <h5>{{ task.task_desc }}</h5>
                            <form method="post">
                                {% csrf_token %}
                                <input class="unscrollable mt-3 white centered" type="submit" name="unassign:{{ task.id }}" value="Enlever l'assignement"/>
                            </form>
                        </div>
                    </div>
            {% empty %}
                <p>Aucune tâche assignée.</p>
            {% endfor %}
        </div>
    </div>

<div class="col-sm-12 col-md-12 col-lg-12">
        <h3 style="text-decoration: underline;">Tâche(s) de Florian:</h3><br>
        <div class="row">
            {% for task in florian %}
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="boxes p-3 mt-3">
                            <h3>{{ task.task_name }}</h3>
                            <p>Description:</p>
                            <h5>{{ task.task_desc }}</h5>
                            <form method="post">
                                {% csrf_token %}
                                <input class="unscrollable mt-3 white centered" type="submit" name="unassign:{{ task.id }}" value="Enlever l'assignement"/>
                            </form>
                        </div>
                    </div>
            {% empty %}
                <p>Aucune tâche assignée.</p>
            {% endfor %}
        </div>
    </div>

<div class="col-sm-12 col-md-12 col-lg-12">
        <h3 style="text-decoration: underline;">Tâche(s) de Rodolphe:</h3><br>
        <div class="row">
            {% for task in rodolphe %}
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="boxes p-3 mt-3">
                            <h3>{{ task.task_name }}</h3>
                            <p>Description:</p>
                            <h5>{{ task.task_desc }}</h5>
                            <form method="post">
                                {% csrf_token %}
                                <input class="unscrollable mt-3 white centered" type="submit" name="unassign:{{ task.id }}" value="Enlever l'assignement"/>
                            </form>
                        </div>
                    </div>
            {% empty %}
                <p>Aucune tâche assignée.</p>
            {% endfor %}
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-12">
        <h3 style="text-decoration: underline;">Tâche à assigner:</h3>
        <div class="row">
        {% for task in none %}
                    <div class="col-sm-12 col-md-6 col-lg-6">
                        <div class="boxes p-3 mt-3">
                            <h3>{{ task.task_name }}</h3>
                            <p>Description:</p>
                            <h5>{{ task.task_desc }}</h5>
                            <p>Assigner à:</p>
                            <form method="post">
                                {% csrf_token %}
                                <input type="submit" name="assign:{{ task.id }}:David" value="David"/>
                                <input type="submit" name="assign:{{ task.id }}:Hamid" value="Hamid"/>
                                <input type="submit" name="assign:{{ task.id }}:Guillaume" value="Guillaume"/>
                                <input type="submit" name="assign:{{ task.id }}:William" value="William"/>
                                <input type="submit" name="assign:{{ task.id }}:Florian" value="Florian"/>
                                <input type="submit" name="assign:{{ task.id }}:Rodolphe" value="Rodolphe"/>
                                <input type="submit" name="delit:{{ task.id }}:Rodolphe" value="Del task"/>
                            </form>
                        </div>
                    </div>
        {% empty %}
            <p>Aucune tâche assignée.</p>
        {% endfor %}
        </div>
    </div>


    <div class="col-sm-12 col-md-12 col-lg-12">
        <h3>Créer une tâche:</h3><br>
            <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" name="addone" value="Sauvegarder la tâche de groupe"/>
            </form>
    </div>
</div>
{% endblock %}