{% extends "base.html" %}
{% load static %}
{% block title %}Project page{% endblock %}
{% block scriptncss %}
    <script type="text/javascript" src="{% static "js/checklist.js" %}"></script>
    <link href="{% static "/css/sprint_def.css" %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/js/fullcalendar/packages/core/main.css' %}" rel='stylesheet' />
    <link href="{% static '/js/fullcalendar/packages/daygrid/main.css' %}" rel='stylesheet' />

    <script src="{% static '/js/fullcalendar/packages/core/main.js' %}"></script>
    <script src="{% static '/js/fullcalendar/packages/daygrid/main.js' %}"></script>

{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3 unscrollable p-5" id="nomovediv">
        <h3 class="centered white p-2">Sprint information</h3>

        <span class="white pt-5">Nom du sprint:</span><p>{{ sprint.sprint_name }}</p>
        <span class="white pt-3">Numéro du sprint:</span> <p>{{ sprint.number }}</p>
        <span class="white pt-3">Date de début:</span> <p>{{ sprint.date_start }}</p>
        <span class="white pt-3">Date de fin:</span> <p>{{ sprint.date_end }}</p>
        <span class="white pt-3">Description:</span> <p>{{ sprint.descriptif }}</p>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9" id="movediv" >
        <div class="row pt-5">
            <div class="col-sm-0 col-md-1 col-lg-1"></div>
            <div class="col-sm-12 col-md-10 col-lg-10">
                {% for part in sprint_part %}
                    <div class="boxes-parts mt-5 p-3">
                        <h3 class="centered">{{ part.part_type }}</h3>
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <p><span style="color:black;">Date de début:&nbsp</span>{{ part.date_start }}</p>
                                <p><span style="color:black;">Date de fin:&nbsp</span>{{ part.date_end }}</p>
                                <p><span style="color:black;">PLD mis à jour pour le rendez-vous?&nbsp</span></p>
                                <p> {% if  part.is_pld_update == False%}<span style="color:red;">Non.</span> {% else %} <span style="color:green;">Oui.</span> {% endif %}</p>
                                <p><span style="color:black;">Est-ce que le rendez-vous est prêt?&nbsp</span></p>
                                <p> {% if part.is_meeting_ready == False%}<span style="color:red;">Non.</span> {% else %} <span style="color:green;">Oui.</span> {% endif %}</p>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <h3 class="text-center">Update checklist:   </h3>
                                <p>PLD mis à jour:<form method="post" style="display: inline-block">{% csrf_token %}<input type="submit" {% if  part.is_pld_update == False%}name="pld:{{ part.id }}:True" value="&#x2714;" {% else %} name="pld:{{ part.id }}:False" value="&#x274C;" {% endif %}/></form></p>
                                <p>Rendez-vous préparé:<form method="post" style="display: inline-block">{% csrf_token %}<input type="submit" {% if  part.is_meeting_ready == False%}name="rdv:{{ part.id }}:True" value="&#x2714;" {% else %} name="rdv:{{ part.id }}:False" value="&#x274C;" {% endif %}/></form></p>
                            </div>
                        </div>
                        <h4>Rendez-vous fixés pour cette partie:</h4>
                        {% for meetings in part.meetings.all %}
                            <div class="row">
                                <div class="col-sm-0 col-md-2 col-lg-2"></div>
                                <div class="boxes pl-2 mt-3 col-sm-12 col-md-8 col-lg-8">
                                    <h5>{{ meetings.title }}</h5>
                                        <div class="row">
                                            <div class="col-sm-12 col-md-4 col-lg-4">
                                                Date du meeting: <p>{{ meetings.date }}</p>
                                            </div>
                                            <div class="col-sm-12 col-md-8 col-lg-8">
                                                Descriptif: <p>{{ meetings.descriptif }}</p>
                                            </div>
                                        </div>
                                        <div class="m-2">
                                                <form method="post" style="display: inline-block">{% csrf_token %}<input type="submit" name="delevent:{{meetings.id}}" value="Delete"/></form>
                                        </div>
                                </div>
                                <div class="col-sm-0 col-md-2 col-lg-2"></div>
                            </div>
                        {% endfor %}
                        <h5>Créer un évènement:</h5>
                        <p>Format de la date: AAAA-MM-DD</p>
                        <form method="post">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type="submit" name="addevent:{{ part.id }}" value="Submit"/>
                        </form>
                        <h4>Rapports de partie:</h4>
                        {% for rapport in part.rapport_mensuel.all %}
                            <div class="row">
                                <div class="col-sm-0 col-md-2 col-lg-2"></div>
                                <div class="boxes pl-2 mt-3 col-sm-12 col-md-8 col-lg-8">
                                    <a href="/cal/rapport/{{sprint.id}}/{{ rapport.id }}">
                                        <div class="pl-2 mt-3">
                                            <h5>Rapport de {{ rapport.auteur }}</h5>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-0 col-md-2 col-lg-2"></div>
                            </div>
                        {% endfor %}
                        <a href="/cal/rapport/create/{{sprint.id}}/{{part.id}}"><p class="unscrollable mt-3 white centered">Ecrire mon rapport.</p></a>
                        <form method="post">
                            {% csrf_token %}
                            <input class="unscrollable mt-3 white centered" type="submit" name="exporttxt:{{ part.id }}" value="Exporter les rapports en .txt ."/>
                        </form>
                    </div>
                {% endfor %}
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
<div style="display: inline-block">
    <a href="/cal/sprints" style="display: inline-block">
        <img src="{% static "/img/icons/navigation/return.svg" %}" />
    </a>
</div>
{% endblock %}>